LANGFUSE_INIT_ORG_ID=fobs-org
LANGFUSE_INIT_ORG_NAME=fobs
LANGFUSE_INIT_PROJECT_ID=fobs-proj
LANGFUSE_INIT_PROJECT_NAME=fobs
LANGFUSE_INIT_PROJECT_PUBLIC_KEY=pk-lf-fobs
LANGFUSE_INIT_PROJECT_SECRET_KEY=sk-lf-fobs
LANGFUSE_INIT_USER_EMAIL=demo@example.invalid
LANGFUSE_INIT_USER_NAME=demo
LANGFUSE_INIT_USER_PASSWORD=<choose one>
NEXTAUTH_URL=http://localhost:3100
TELEMETRY_ENABLED=false
